.banner {
    height: 50px;
    text-align: center;
    /* background-image: url("bannerbg.png"); */
    background-repeat: repeat-x;
    background-size: 100% 100px;
    background-color: #20202293;
}

.content {
    margin: auto;
    width: 1100px;
    border-radius:20px;
    overflow: auto;
}
.right {
    margin-left: 2px;
    margin-right: 5px;
    width: 700px;
    float: left;
    background-color: rgb(255, 255, 255);
}


.reservation {
    margin-left: 2px;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
    border: 4px gray solid;
}


.left {
    width: 300px;
    float : left;
    background-color : rgb(255, 255, 255);
}

.wrap{
    width: 700px;
    height: 300px;
    overflow-x: scroll;
    white-space:nowrap
}
.wrap img{
    width:300px;
    height:300px;
}

table.Announce {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
}
table.Announce thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.Announce tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

table.Announce td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
}
