.hotelInfo {
    text-align: center;
    border-top: solid 1px #51b9e2;
    padding: 20px 0 14px 0;
}

.hotelInfo dl {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    margin-left: -4px;
    position: relative;
}

.hotelInfo dt {
    display: inline-block;
    font-weight: bold;
    margin-right: 13px;
}


.wrap{
    width: 1100px;
    height: 220px;
    overflow-x: scroll;
    white-space:nowrap
}
.wrap img{
    width:300px;
    height:200px;
  
}


table.floorinfo {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
table.floorinfo th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #51b9e2;
    border-bottom: 1px solid #51b9e2;
    background: rgb(255, 255, 255) ;
}
table.floorinfo td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #51b9e2;
    background: rgb(255, 255, 255);
}
