.snip1273 td{
    position: relative;
    /* margin: 10px; */
    /* min-width: 310px -60px;
    max-width: 310px; */
    /* width: 100%; */
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
  }
  .snip1273 td * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .snip1273 td img {
    position: relative;
    max-width: 100%;
  }
  .snip1273 td figcaption {
    position: absolute;
    background-color: #c7e5f1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
  }
  .snip1273 td figcaption:before,
  .snip1273 td figcaption:after {
    width: 1px;
    height: 0;
  }
  .snip1273 td figcaption:before {
    right: 0;
    top: 0;
  }
  .snip1273 td figcaption:after {
    left: 0;
    bottom: 0;
  }
  .snip1273 td h3,
  .snip1273 td p {
    line-height: 1.5em;
  }
  .snip1273 td h3 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .snip1273 td p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
  }
  .snip1273 td a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .snip1273 td:before,
  .snip1273 td:after,
  .snip1273 td figcaption:before,
  .snip1273 td figcaption:after {
    position: absolute;
    content: '';
    background-color: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
  }
  .snip1273 td :before,
  .snip1273 td:after {
    height: 1px;
    width: 0%;
  }
  .snip1273 td:before {
    top: 0;
    left: 0;
  }
  .snip1273 td:after {
    bottom: 0;
    right: 0;
  }
  .snip1273 td:hover img,
  .snip1273 td.hover img {
    opacity: 0.4;
  }
  .snip1273 td:hover figcaption,
  .snip1273 td.hover figcaption {
    opacity: 1;
  }
  .snip1273 td:hover figcaption:before,
  .snip1273 td.hover figcaption:before,
  .snip1273 td:hover figcaption:after,
  .snip1273 td.hover figcaption:after {
    height: 100%;
  }
  .snip1273 td:hover:before,
  .snip1273 td.hover:before,
  .snip1273 td:hover:after,
  .snip1273 td.hover:after {
    width: 100%;
  }
  .snip1273 td:hover:before,
  .snip1273 td.hover:before,
  .snip1273 td:hover:after,
  .snip1273 td.hover:after,
  .snip1273 td:hover figcaption:before,
  .snip1273 td.hover figcaption:before,
  .snip1273 td:hover figcaption:after,
  .snip1273 td.hover figcaption:after {
    opacity: 0.1;
  }