

.content {
    margin: auto;
    width: 800px;

    border-radius:5px;
    border: 4px gray solid;
    overflow: auto;
}



.left {
    width: 400px;
    float: left;

}

.right {

    width: 300px;
    float: right;
}
